body{
  font-family: 'Play', sans-serif;
}
h1, h2, h3 {
  font-family: 'Love Ya Like A Sister', cursive;
  border: solid red 2px;
  border-radius: 9px;
  padding: 10px;
}
h1{
  border: solid #88c0d6 4px;
  text-align: center;
}
#result, #resultReverse{
  display: none;
  float: left;
  width: 45%;
}

#resultReverse{
  margin-left: 60px;
}
#form1{
  text-align: center;
}
label{
  font-size: 25px;
}
.btn {
  padding: 2px 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
input{
  padding: 4px;
  border-radius: 5px;
}
